- @name = "badge"

- @bg_colour = 'white'

- @elements = "<div class='#{@name} shape'>15</div>"

- @styles = ".badge {\n"\
			"  width: 100px;\n"\
			"  height: 100px;\n"\
			"  line-height: 100px;\n"\
			"  border-radius: 50%;\n"\
			"  font-size: 50px;\n"\
			"  color: white;\n"\
			"  background: purple;\n"\
			"}\n\n"\
			".badge:hover {\n"\
			"  background: radial-gradient(red, #00D0FF, red);\n"\
			"}"