- @name = "banner"

- @bg_colour = 'white'

- @elements = "<div class='page'><div class='banner'>I AM A BANNER!</div></div>"

- @styles = ".page {\n"\
			"  position: absolute;\n"\
			"  top: 0;\n"\
			"  left: 60px;\n"\
			"  width: 200px;\n"\
			"  height: 100%;\n"\
			"  background: lightgray;\n"\
			"  border-left: 1px solid black;\n"\
			"  border-right: 1px solid black;\n"\
			"}\n\n"\
			".banner {\n"\
			"  position: absolute;\n"\
			"  top: 50%;\n"\
			"  left: -20px;\n"\
			"  width: 100%;\n"\
			"  height: 40px;\n"\
			"  line-height: 40px;\n"\
			"  font-size: 16px;\n"\
			"  color: white;\n"\
			"  background: #DC143C;\n"\
			"  box-shadow: 0 2px 4px rgba(0,0,0,0.4);\n"\
			"}\n\n"\
			".banner:after {\n"\
			"  content: '';\n"\
			"  position: absolute;\n"\
			"  top: 40px;\n"\
			"  left: 0;\n"\
			"  width: 0;\n"\
			"  height: 0;\n"\
			"  border: 10px solid transparent;\n"\
			"  border-top-color: #78091F;\n"\
			"  border-right-color: #78091F;\n"\
			"}\n\n"\
			".banner-container:hover .banner {\n"\
			"  animation-name: cycle;\n"\
			"  animation-duration: 1.5s;\n"\
			"  animation-iteration-count: infinite;\n"\
			"  animation-timing-function: linear;\n"\
			"}\n\n"\
			".banner-container:hover .banner:after {\n"\
			"  animation-name: cycle-darker;\n"\
			"  animation-duration: 1.5s;\n"\
			"  animation-iteration-count: infinite;\n"\
			"  animation-timing-function: linear;\n"\
			"}\n\n"\
			"@keyframes cycle {\n"\
			"  0% { background: #DC143C; }\n"\
			"  25% { background: #3B54D8; }\n"\
			"  50% { background: #84E87F; }\n"\
			"  75% { background: #FFF144; }\n"\
			"  100% { background: #DC143C; }\n"\
			"}\n\n"\
			"@keyframes cycle-darker {\n"\
			"  0% { border-top-color: #78091F; border-right-color: #78091F; }\n"\
			"  25% { border-top-color: #1D2A70; border-right-color: #1D2A70; }\n"\
			"  50% { border-top-color: #3B6A3A; border-right-color: #3B6A3A; }\n"\
			"  75% { border-top-color: #6C661B; border-right-color: #6C661B; }\n"\
			"  100% { border-top-color: #78091F; border-right-color: #78091F; }\n"\
			"}"