- @name = "library"

- @bg_colour = "black"

- @elements = 	"<div class='lib-item one'></div>"\
				"<div class='lib-item two'></div>"\
				"<div class='lib-item three'></div>"

- @styles = ".library-container {\n"\
			"  flex-direction: row !important;\n"\
			"}\n\n"\
			".lib-item {\n"\
			"  width: 30%;\n"\
			"  height: 200px;\n"\
			"  float: left;\n"\
			"  border: 2px solid red;\n"\
			"  margin: 0 1px;\n"\
			"  transition: 0.2s;\n"\
			"  background-size: cover;\n"\
			"  background-position: center;\n"\
			"}\n\n"\
			".lib-item.one {\n"\
			"  background-image: url('/images/deadpool.jpg');\n"\
			"}\n\n"\
			".lib-item.two {\n"\
			"  background-image: url('/images/findingdory.jpg');\n"\
			"}\n\n"\
			".lib-item.three {\n"\
			"  background-image: url('/images/matrix.jpg');\n"\
			"}\n\n"\
			".lib-item:hover {\n"\
			"  transition: 0.4s;\n"\
			"  transform: scale(1.2);\n"\
			"  z-index: 10;\n"\
			"}"